body {
    background-color: #2c3444;
    text-align: center;
    color: white;
    text-shadow: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hpout, #atkout, #spatkout, #defout, #spdefout, #speedout, .bold
{
    font-weight: bold;
}
.typingformat
{
    border: none;
    color: black;
    border-radius: 8px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     margin-left: 15px;
      margin-top: 40px;
       font-weight: bold;
       box-shadow: inset 0 -4px #70ad9c;
       text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

       
}
.discordcolor
{
    background-color: #36393f;
}
.typingformatsmall
{
    border: none;
    color: black;
    border-radius: 8px;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
       font-weight: bold;
}
