#ty-normal
{
    background-color: #aaaa99;
}
#ty-fire
{
    background-color: #ff4422;
}
#ty-water
{
    background-color: #3399ff;
}
#ty-electric
{
    background-color: #ffcc33;
}
#ty-grass
{
    background-color: #68b741;
}
#ty-ice
{
    background-color: #66ccff;
}
#ty-fighting
{
    background-color: #bb5544;
}
#ty-poison
{
    background-color: #aa5599;
}
#ty-ground
{
    background-color: #ddbb55;
}
#ty-flying
{
    background-color: #8899ff;
}
#ty-psychic
{
    background-color: #ff5599;
}
#ty-bug
{
    background-color: #aabb22;
}
#ty-rock
{
    background-color: #bbaa66;
}
#ty-ghost
{
    background-color: #6666bb;
}
#ty-dragon
{
    background-color: #7766ee;
}
#ty-dark
{
    background-color: #775544;
}
#ty-steel
{
    background-color: #aaaabb;
}
#ty-fairy
{
    background-color: #ee99ee;
}
#ty-what
{
    background-color: #68a090;
}